<div style="text-align:center">
  <h1>
    Welcome to custom directive demo!
  </h1>
  <div>

    <form [formGroup]="form">
      <div>
        <label for="phone-number">Phone Number : </label>
        <input class="form-control" formControlName="phone" type="text" id="phone-number" appPhoneFormat>
      </div>
      <button style="margin-top: 10px; margin-left: -6px;" (click)="alertValue()">Submit</button>
    </form>

  </div>
</div>
